/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

$lime-green:#4f9000;
$lime-green-pale:#93c05c;
$gray:#666;

html, body {
    background-position:center;
    background-attachment:fixed;
    background-color:#666;
    height:100%;
    padding:0;
    margin:0;
    min-width:960px;
}

div#page-wrapper {
    width:960px;
    min-height:100%; //For sticky footer
	margin:0 auto;
}

header {
	text-align:center;
}

nav {
    background-image:url('nav_ribbon.png');
    background-position:center;
    background-repeat:none;
    width:960px;
    height:54px;


    ul {
        margin:0px 50px 0px 50px;
        list-style:none;
        padding-top:8px;

        li {
            display:inline;
            a {
                color:white;
            }
            a:visited {
                color:white;
            }
            font-size:18px;
        }

    }

}

content {



}

footer {
	position:relative;
	clear:both;
	height:100px;
	margin-top:100px;

    background: -webkit-gradient(linear, left top, right bottom, from($lime-green), to($lime-green-pale));
	border-top:1px solid $gray;
	
	div#footer-inner {
		
		width:960px;
		margin:0 auto;
	
		div#footer-left {
			width:320px;
			float:left;
	        padding-left:10px;

		}
	
		div#footer-middle {
			width:320px;
			float:left;
	        padding-left:10px;
		}
	
		div#footer-right {
			width:320px;
			float:right;
	        padding-right:10px;

		}
	}
	
}