/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

$lime-green:#4f9000;
$lime-green-pale:#93c05c;
$gray:#666;

html, body {
    background-position:center;
    background-attachment:fixed;
    background-color:#666;
    padding:0;
    margin:0;
    min-width:960px;
}

div#page-wrapper {
    width:960px;
	margin:0 auto;
}

header {
	text-align:center;
	height:75px;
	width:960px;
	margin:0 auto;
	background-color:white;
}

nav {
    background-image:url('nav_ribbon.png');
    background-position:center;
    background-repeat:none;
    width:960px;
    height:54px;
	margin-bottom:10px;

    ul {
        margin:0px 50px 0px 50px;
        list-style:none;
        padding-top:8px;

        li {
            display:inline;
            a {
                color:white;
            }
            a:visited {
                color:white;
            }
            font-size:18px;
        }
    }
}

div#content {
	background-color:white;
	width:950px;
	min-height:200px;
	margin:100px, 0px, 10px, 0px;
	padding:10px 5px 10px 5px;

}

footer {
	position: absolute;
	margin-top:50px;/* negative value of footer height */
	height: 100px;
	clear:both;
	width:100%;

    background: -webkit-gradient(linear, left top, right bottom, from($lime-green), to($lime-green-pale));
	border-top:1px solid $gray;
	
	div#footer-inner {
		
		width:960px;
		margin:0 auto;
		
		div.footer-section {
			height:-100px;
			width:306px;			
		}	
		
		div#footer-left {
			text-align:justify;
			float:left;
	        padding-left:10px;

		}
	
		div#footer-middle {
			text-align:center;
			float:left;
			padding-left:10px;
			padding-right:10px;
			
		}
	
		div#footer-right {
			text-align:center;
			float:right;
	        padding-right:10px;

		}
	}
	
}