/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

$lime-green:#4f9000;
$lime-green-pale:#93c05c;
$gray:#666;

html, body {
    background-position:center;
    background-attachment:fixed;
    background-color:#666;
}

div#page-wrapper {
	width:960px;
	margin:0 auto;
}

header {
	text-align:center;
}

nav {
    background-image:url('nav_ribbon.png');
    background-position:center;
    background-repeat:none;
    width:960px;
    height:54px;


    ul {
        margin:0px 50px 0px 50px;
        list-style:none;
        padding-top:8px;

        li {
            display:inline;
            a {
                color:white;
            }
            a:visited {
                color:white;
            }
            font-size:18px;
        }

    }

}

content {



}

footer {
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	height:45px;
	margin-top:45px;

    background: -webkit-gradient(linear, left top, right bottom, from($lime-green), to($lime-green-pale));
	border-top:1px solid $gray;



	div#footer-left {
		width:48%;
		float:left;
        padding-left:10px;

	}
	
	div#footer-right {
		width:48%;
		float:right;
		text-align:right;
        padding-right:10px;

	}
	
	
}